header {
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px -7px rgba(8, 8, 244, 0.868);
}

header nav {
    max-width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    color:#e43a3a;
}

header nav .avtar {
    cursor: pointer;
}