section {
    width: 100%;
    padding: 10px;
    min-height: calc(100vh - 80px);
}

section .form_data {
    max-width: 550px;
    margin: 25px auto;
    padding: 35px 10px;
    box-shadow: 0 0 15px -10px #2d3748;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_data h1 {
    font-size: 34px;
    color: #e43a3a;
}

.form_data p {
    color: #0a64eb;
    font-size: 15px;
    margin-top: 9px;
}

.form_data form {
    margin-top: 45px;
    width: 100%;
    padding: 10px 50px;
}

.form_data form .form_input input {
    width: 100%;
    padding: 11px;
    border: 1px solid #f2cfcf;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;

}

.form_data form .form_input label {
    font-weight: 600;
    font-size: 15px;
}

.form_input .two {
    display: flex;
    align-items: center;
    position: relative;
}

.form_data form .form_input input:focus {
    border: 2px solid rgba(234, 12, 56, 0.756);
}


.form_data form .form_input input::placeholder {
    color: #34c517;
    letter-spacing: .5px;
    font-size: 14px;
}

.form_input .showpass {
    position: absolute;
    right: 0;
    top: 1px;
    padding: 7px 10px;
    margin-right: 5px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #2a4365;
    background-color: #7555d8cd;
    border-radius: 5px;
    cursor: pointer;
}

form .btn {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #2d880c;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s;
}


form .btn:hover {
    background-color: #e43a3abe;
}

.form_data form p {
    text-align: center;
    margin-top: 20px;
}

.form_data form a {
    text-decoration: none;
    color: #0f62de;
    border-bottom: 2px solid #074aa8;
}